* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #ccc;
  overflow: hidden;
}

.output > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#player {
  position: absolute;
  z-index: 999;
}

#visualisation > div {
  background: red;
  position: absolute;
  width: 20px;
}
div#container {
width: 100%;
height: 100%;
position: absolute;
}

canvas#c{
  position: absolute;
}

div#audioNav {
position: absolute;
top: 0;
height: 100px;
background: #fff;
width: 100%;
}

.play {
height: 100px;
background: #fff;
top: 0;
z-index: 99999;
width: 100px;
position: relative;


}

.play:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition-duration:.25s;
}

.play.off:after{ 
  width:0;
  height:0;
  border-right: 2em solid transparent;
  border-left: 2em solid tomato;
  border-bottom: 2em solid transparent;
  border-top: 2em solid transparent;
  transform: translateX(25%);
}
.play.on:after{
  width:50%;
  height:50%;
  background:tomato;
}

.time {
position: absolute;
left: 100px;
background-color: tomato;
height: 97%;
top: 0;
bottom: 0;
margin: auto;
min-width:1px;
}

